<div ng-app>
  <div class="row">
      <div class="col-xs-6">
        <table class="table table-hover">
          <tr class="info" ng-click="setActive(model)" ng-repeat="model in displayList">
            <td>{{model.name}}</td>
          </tr>
        </table>
      </div>
      <div class="col-xs-6" style="border-radius: 25px;border: 2px solid orange;padding: 50px;">

        <div class="row">
          <div class="col-xs-6">
            <canvas id="preview" style="border: none;" width="250" height="250"></canvas>
          </div>
          <div class="col-xs-6">
            <br>
            <br>
            <h4>{{activeItem.name}}</h4>
            Plastic: {{activeItem.plastic}}g
            <br>
            Steel: {{activeItem.steel}}g
            <br>
            Gold: {{activeItem.gold}}g
            <br>
            Print Time: {{activeItem.time}} mintues
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
              <form class="form-inline">
                <div class="form-group" ng-repeat="param in activeVars">
                  <label for="exampleInputName2">{{param.name}}</label>
                  <input type="text" class="form-control" id={{param.name}} value={{param.value}}>
                </div>
              </form>
            <br>
            <button type="button" ng-click="updateModel()" class="btn btn-default">update</button>
          </div>
          <div class="col-xs-6">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedPrinter}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="printer in printers"><a ng-click="setActivePrinter(printer.name)">{{printer.name}}</a></li>
              </ul>
            </div>
            <br>
            <form class="form-inline">
              <div class="form-group">
                <label for="exampleInputName2">Quantity:</label>
                <input type="text" class="form-control" id="quantity" value=1>
              </div>
            </form>
            <br>
            <button type="button" ng-click="print()" class="btn btn-default btn-lg btn-success">Print</button>
          </div>

        </div>
      

      </div>
  </div>
</div>

<script type="text/javascript" src="scripts/glMatrix-0.9.5.min.js"></script>

<script id="shader-fs" type="x-shader/x-fragment">
    precision mediump float;

    void main(void) {
        gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);
    }
</script>

<script id="shader-vs" type="x-shader/x-vertex">
    attribute vec3 aVertexPosition;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

    void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    }
</script>


<script type="text/javascript">

    var gl;
    function initGL(canvas) {
        try {
            gl = canvas.getContext("experimental-webgl");
            gl.viewportWidth = canvas.width;
            gl.viewportHeight = canvas.height;
        } catch (e) {
        }
        if (!gl) {
            console.log("Could not initialise WebGL");
        }
    }

function getShader(gl, id) {
    var shaderScript = document.getElementById(id);
    if (!shaderScript) {
        return null;
    }

    var str = "";
    var k = shaderScript.firstChild;
    while (k) {
        if (k.nodeType == 3) {
            str += k.textContent;
        }
        k = k.nextSibling;
    }

    var shader;
    if (shaderScript.type == "x-shader/x-fragment") {
        shader = gl.createShader(gl.FRAGMENT_SHADER);
    } else if (shaderScript.type == "x-shader/x-vertex") {
        shader = gl.createShader(gl.VERTEX_SHADER);
    } else {
        return null;
    }

    gl.shaderSource(shader, str);
    gl.compileShader(shader);

    if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
        alert(gl.getShaderInfoLog(shader));
        return null;
    }

    return shader;
}

var shaderProgram;

function initShaders() {
    var fragmentShader = getShader(gl, "shader-fs");
    var vertexShader = getShader(gl, "shader-vs");

    shaderProgram = gl.createProgram();
    gl.attachShader(shaderProgram, vertexShader);
    gl.attachShader(shaderProgram, fragmentShader);
    gl.linkProgram(shaderProgram);

    if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)) {
        console.log("Could not initialise shaders");
    }

    gl.useProgram(shaderProgram);

    shaderProgram.vertexPositionAttribute = gl.getAttribLocation(shaderProgram, "aVertexPosition");
    gl.enableVertexAttribArray(shaderProgram.vertexPositionAttribute);

    shaderProgram.pMatrixUniform = gl.getUniformLocation(shaderProgram, "uPMatrix");
    shaderProgram.mvMatrixUniform = gl.getUniformLocation(shaderProgram, "uMVMatrix");
}


var mvMatrix = mat4.create();
var pMatrix = mat4.create();

function setMatrixUniforms() {
    gl.uniformMatrix4fv(shaderProgram.pMatrixUniform, false, pMatrix);
    gl.uniformMatrix4fv(shaderProgram.mvMatrixUniform, false, mvMatrix);
}

var squareVertexPositionBuffer;

vertices = [];
function initBuffers() {
    squareVertexPositionBuffer = gl.createBuffer();
    gl.bindBuffer(gl.ARRAY_BUFFER, squareVertexPositionBuffer);
                gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(vertices), gl.STATIC_DRAW);
                squareVertexPositionBuffer.itemSize = 3;
                squareVertexPositionBuffer.numItems = vertices.length / 3;
}

var foo = 0;
function drawScene() {
    gl.viewport(0, 0, gl.viewportWidth, gl.viewportHeight);
    gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

    mat4.perspective(45, gl.viewportWidth / gl.viewportHeight, 0.1, 100.0, pMatrix);

    mat4.identity(mvMatrix);
    mat4.translate(mvMatrix, [-1.5, 0.0, -7.0]);
    mat4.translate(mvMatrix, [3.0, 0.0, 0.0]);
    mat4.rotate(mvMatrix, foo, [1,1,1]);
    mat4.scale(mvMatrix, [10,10,10]);
    gl.bindBuffer(gl.ARRAY_BUFFER, squareVertexPositionBuffer);
    gl.vertexAttribPointer(shaderProgram.vertexPositionAttribute, squareVertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0);
    setMatrixUniforms();
    gl.drawArrays(gl.TRIANGLES, 0, squareVertexPositionBuffer.numItems);
}



function webGLStart() {
    console.log("starting gl stuff");
    var canvas = document.getElementById("preview");
    initGL(canvas);
    initShaders();
    initBuffers();
    
    gl.clearColor(1.0, 1.0, 1.0, 1.0);
    gl.enable(gl.DEPTH_TEST);
    
    drawScene();
    tick();
}

var lastTime = 0;

function animate() {
    var timeNow = new Date().getTime();
    if (lastTime != 0) {
        var elapsed = timeNow - lastTime;
        foo += (3 * elapsed) / 1000.0;
    }
    lastTime = timeNow;
}


function tick() {
    requestAnimationFrame(tick);
    drawScene();
    animate();
}

webGLStart();

    </script>
