<div ng-app>

<div class="row">
    <div class="col-xs-6">
      <div>
        <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="medicalButton()">
          <br>
          <div class="glyphicon glyphicon-heart-empty" style="color:orange;font-size:75px;"></div>
          <h3>Medical</h3>
        </button>
      </div>
      <br>
      <div>
        <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="miscButton()">
          <br>
          <div class="glyphicon glyphicon-cog" style="color:orange;font-size:75px;"></div>
          <h3>Misc</h3>
        </button>
      </div>
    </div>
    <div class="col-xs-6">
      <div>
        <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="toolsButton()">
          <br>
          <div class="glyphicon glyphicon-wrench" style="color:orange;font-size:75px;"></div>
          <h3>Tools</h3>
        </button>
      </div>
      <br>
      <div>
        <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="spareButton()">
          <br>
          <div class="glyphicon glyphicon-hdd" style="color:orange;font-size:75px;"></div>
          <h3>Spare Parts</h3>
        </button>
      </div>
    </div>
</div>
</div>
