<div ng-app>
  <div class="row">
    <div class="col-xs-6" style="border-radius: 25px;border: 2px solid orange;padding: 50px;">
      <!-- Printer status -->
      <div>
        <h2>Libraries:</h2> 
      </div>
      <div class="row" ng-repeat="printer in printers">
        <div class="panel panel-primary">
          <div class="panel-heading">{{printer.name}}</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <span class="glyphicon glyphicon-print" style="color:orange;font-size:75px;"></span>
              </div>
              <div class="col-xs-6">
                <span>
                  <b>Status:</b>
                </span>
                <span style="color:green" ng-show="{{printer.cooldown}}==0">Available</span>
                <span style="color:red" ng-show="{{printer.cooldown}}>0">Busy</span>
              <div class="col-xs-6">
                Printing Queue: {{printer.cooldown}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
    <!-- Alerts -->
    <div class="row" style="border-radius: 25px;border: 2px solid orange;padding: 20px;">
      <h2>Alerts:</h2> 
    </div>
    <br>
    <!-- Materials -->
    <div class="row" style="border-radius: 25px;border: 2px solid orange;padding: 20px;">
      <div>
        <h2>Materials:</h2> 
      </div>
      <div class="row" ng-repeat="material in materials">
        <ul class="list-group">
          <li class="list-group-item">
          {{material.name}}
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow={{material.amount}} aria-valuemin="0" aria-valuemax="100" style="width: {{material.amount}}%;">
              {{material.amount}}
            </div>
          </div>

          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
